:root {
  --primary-color: rgba(38, 70, 83, 0.7); 
  --second-color: white; 
  --third-color: #264653;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--third-color);
}

 header, main, footer { 
  width: 840px;
  margin: 0 auto;
}

h2 {
  margin-top: 40px;
  font-family: var(--heading-font);
  color: var(--second-color);
  background-color: var(--third-color);
  padding: 12px;
  text-align: center;
  width: 100%;
}

p { /*nav, estava aqui antes*/
  margin: 16px;
  padding: 8px;
}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav a{
    text-decoration: none;
    background-color: #264653;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    border-left: none;
    color: var(--second-color);
    border: 2px solid black;    
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--primary-color);
  font-family: var(--heading-font);
  color: #fff; 
}

article{
    position: absolute;
    bottom: 40px;
    width: 90%;
    left: 40px;
    background-color: var(--primary-color);
    color: #fff; 
}

.hero article img {
  float: right;
  width: 125px; 
  padding: 10px;
}


/*CSS Class selectors*/

.socialmedia a {
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.grid{
    display: grid;
}