:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header {
   /* background-color: var(--primary-color);*/
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

.socialmedia a {
    text-decoration: none;
}

main, header, footer {
    width: 840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px; /* Aplica 16px em cima, direita, baixo e esquerda */
    padding: 8px;
}

nav img{
    width: 110px;
    height: auto;
    margin: 0px;
    padding-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.hero{
    width: 840px; 
    margin: 0 auto; 
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}

h2 {
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
    padding: 9px;
}

.hero article {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 5; 
    background-color: rgba(38, 70, 83, 0.9);
    color: #fff;
    padding: 16px; 
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
    height: auto;   
}

.hero article p {
    color: #fff;
    margin: 0;
    padding: 0;
}
