

form{
    background-color: aliceblue;
    max-width: 800px;
    display: grid;
    justify-content: center;
    margin: auto;
    border-radius: .5rem;
}

.exampleCode{
    background-color: black;
    color: white;
    margin-left: 2rem;
    margin-right: 30rem;
    padding-left: .25rem;
    text-align: center;
}

button{
   background-color: blue;
   color: white;
   border-radius: .5rem;

}

label, input, textarea, select, button{
    margin: .5rem;
}

span{
    color: blue;
}

button {
    margin: 1rem;
    justify-self: center;
    padding: 5px;
}