body{
    font-family: Arial, Helvetica, sans-serif;
}

header , footer {
   background-color: #333333;
   color: white;
   text-align: center;
   padding: 10px
}

header{
   font-size: 1.25rem;
}

footer{
   font-size: 0.8rem;
}

main {
    font-size: 20px;
    margin: 0 auto;
    max-width: 600px;
}

main h1{
    text-align: center;
}

main h2{
    border-bottom: 1px solid black;
}

picture img {
     box-shadow: 0 0 30px #333333;
     margin: 0 auto;
     max-width: 100%;
     height: auto;
}

section{
    background-color: lightgray;
    padding: 10px;
    margin: 15px auto;
}

p{
    margin: 10px
}

